<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<section class="info">
    <header>
        <h2>Peter Lonestar</h2>
        <h3>Founder</h3>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, aperiam numquam aut maiores adipisci nesciunt delectus quod omnis! Nulla, unde, animi ut amet quo tempora asperiores a nisi delectus molestias.</p>
</section>

<section class="info">
    <header>
        <h2>Bill Billerson</h2>
        <h3>CFO</h3>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, esse, odit excepturi velit tempora voluptate alias aliquid itaque eos eligendi voluptates consequatur et tempore labore culpa suscipit doloribus rerum dolorum.</p>
</section>

<section class="info">
    <header>
        <h2>Pedro TP</h2>
        <h3>CTO</h3>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, distinctio, possimus, doloribus doloremque accusamus minus ea dolore amet molestiae culpa esse nostrum laborum facilis eum vel sapiente natus. Harum, voluptas.</p>
</section>

<footer>
  <span>Contact us: <a href="admin@tweetful.io">admin@tweetful.io</a></span>
</footer>